<style>
    #RegisterView
    {
        height: 500px;
        width: 350px;
        background-color:#6389f0;
    }
</style>


<div id="RegisterView">
    <p1>Register View</p1></br>
    <input type="email" ng-model="vm.Email" placeholder="type Email"/></br>
    <input type="password" ng-model="vm.Password" placeholder="type Password"/></br>

    <button class="btn btn-primary" ng-click="vm.RequestRegister()">Register</button>

</div>