<style>
    #MainView
    {
        height: 100vh;
        background-color:#d54dff;
    }
</style>


<div id="MainView">
    <start ng-if="!vm.IsLogon"></start>
    <home ng-if="vm.IsLogon"></home>
</div>