<style>

</style>


<div id="BookDisplayView" class="container-fluid h-100">
  <p1>Book {{vm.Title}}</p1></br>
    
    <form>
        <fieldset disabled>
          <legend>Book Info</legend>
          <div class="mb-3">
            <label for="TbCode" class="form-label">Code</label>
            <input type="text" id="TbCode" class="form-control" ng-model="vm.Code">
          </div>
          <div class="mb-3">
            <label for="TbTitle" class="form-label">Title</label>
            <input type="text" id="TbTitle" class="form-control" ng-model="vm.Title">
          </div>
          <div class="mb-3">
            <label for="TbAuthor" class="form-label">Author</label>
            <input type="text" id="TbAuthor" class="form-control" ng-model="vm.Author">
          </div>
          <div class="mb-3">
            <label for="TbYear" class="form-label">Year</label>
            <input type="number" id="TbYear" class="form-control" ng-model="vm.Year">
          </div>
        </fieldset>
      </form>

</div>